<div *ngIf="authenticatedUser$ | async as authenticatedUser" [style.height]="'calc(100vh - ' + 10 + 'rem)'">
    <p-table
        *ngIf="users$ | async as users"
        #table
        [scrollable]="true"
        [value]="users"
        [selectionPageOnly]="true"
        [rowHover]="true"
        [rows]="20"
        scrollHeight="flex"
        [paginator]="true"
        class="table-custom"
    >
        <ng-template pTemplate="caption">
            <div class="w-full flex align-items-center justify-content-between">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="table.filter($any($event.target).value, 'first_name', 'contains')"
                        placeholder="Wyszukaj użytkownika"
                    />
                </div>
                <div class="w-full flex align-items-center justify-content-end">
                    <button
                        *ngIf="authenticatedUser.role !== 'User'"
                        pButton
                        label="Dodaj nowego użytkownika"
                        (click)="
                            authenticatedUser.role === 'Admin' ? setAddDialogVisible(true) : (this.assignVisible = true)
                        "
                        icon="pi pi-plus"
                        iconPos="right"
                    ></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header" class="flex align-items-center justify-content-center">
            <tr>
                <th class="white-space-nowrap">Imię i nazwisko</th>
                <th>Email</th>
                <th>Doświadczenie</th>
                <th>Stanowisko</th>
                <th>Rola</th>
                <th *ngIf="authenticatedUser.role !== 'User'"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.expirience }}
                </td>
                <td>
                    {{ user.position }}
                </td>
                <td>
                    {{ user.role }}
                </td>
                <td *ngIf="authenticatedUser.role !== 'User'" class="flex justify-content-end">
                    <button
                        *ngIf="authenticatedUser.role === 'Admin'"
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-text"
                        (click)="editUser(user)"
                    ></button>
                    <p-button
                        pRipple
                        styleClass="border=none"
                        icon="pi pi-trash"
                        size="large"
                        severity="danger"
                        [rounded]="true"
                        [text]="true"
                        (onClick)="removeUser(user.id)"
                    />
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft"></ng-template>
    </p-table>
</div>

<p-toast [preventOpenDuplicates]="true"></p-toast>

<app-add-user *ngIf="visible" [visible]="visible" (closeEventChange)="setAddDialogVisible(false)"> </app-add-user>

<app-edit-user
    *ngIf="editDialogVisible"
    [editDialogVisble]="editDialogVisible"
    [currentUser]="currentUser"
    (closeEventChange)="setEditDialogVisibility(false)"
>
</app-edit-user>

<p-dialog
    contentStyleClass="w-30rem overflow-hidden"
    [(visible)]="assignVisible"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="header">
        <h3>Przypisz nowych użytkowników do projektu</h3>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="assignUserForm">
            <div class="mb-6">
                <p-multiSelect
                    optionLabel="fullName"
                    styleClass="w-27rem"
                    [options]="this.usersNotInProject"
                    formControlName="users"
                    placeholder="Wybierz użytkowników"
                    panelStyleClass="fixed w-27rem"
                />
            </div>

            <div class="flex">
                <button
                    class="w-27rem"
                    (click)="assignUserToProject()"
                    type="button"
                    pButton
                    pRipple
                    label="Dodaj użytkowników"
                ></button>
            </div>
        </form>
    </ng-template>
</p-dialog>
