<div [style.height]="'calc(100vh - ' + 10 + 'rem)'">
    <p-table
        *ngIf="projects$ | async as projects"
        #table
        [scrollable]="true"
        [value]="projects"
        [selectionPageOnly]="true"
        [rowHover]="true"
        [rows]="20"
        scrollHeight="flex"
        [paginator]="true"
        class="table-custom"
    >
        <ng-template pTemplate="caption">
            <div class="w-full flex align-items-center justify-content-between">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="table.filter($any($event.target).value, 'name', 'contains')"
                        placeholder="Wyszukaj projekt"
                    />
                </div>
                <div class="w-full flex align-items-center justify-content-end">
                    <button
                        pButton
                        label="Dodaj nowy projekt"
                        icon="pi pi-plus"
                        iconPos="right"
                        (click)="setAddDialogVisible(true)"
                    ></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header" class="flex align-items-center justify-content-center">
            <tr>
                <th>ID</th>
                <th class="white-space-nowrap">Nazwa projektu</th>
                <th>Liczba osób</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-project>
            <tr>
                <td [routerLink]="project.id" class="cursor-pointer">
                    {{ project.id }}
                </td>
                <td [routerLink]="project.id" class="cursor-pointer">
                    {{ project.name }}
                </td>
                <td [routerLink]="project.id" class="cursor-pointer">
                    {{ project.userCount }}
                </td>
                <td class="flex justify-content-end">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-text"
                        (click)="editProject(project)"
                    ></button>
                    <p-button
                        pRipple
                        styleClass="border=none"
                        icon="pi pi-trash"
                        size="large"
                        severity="danger"
                        [rounded]="true"
                        [text]="true"
                        (onClick)="removeProject(project.id)"
                    />
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft"></ng-template>
    </p-table>
</div>

<p-toast [preventOpenDuplicates]="true"></p-toast>

<app-add-project *ngIf="visible" [visible]="visible" (closeEventChange)="setAddDialogVisible(false)"> </app-add-project>

<app-edit-project
    *ngIf="editVisible"
    [editDialogVisble]="editVisible"
    [currentProject]="currentProject"
    (closeEventChange)="setEditSidebarVisibility(false)"
>
</app-edit-project>
