<header>
    <div class="h-full flex flex-row align-items-center">
        <p-dropdown
            *ngIf="projects$ | async as projects"
            [options]="projects"
            optionLabel="name"
            optionValue="id"
            [(ngModel)]="selectedProjectId"
            (onChange)="onProjectChange($event.value)"
            placeholder="Wybierz projekt"
        ></p-dropdown>

        <div class="header w-full flex justify-content-center text-3xl">Zarządzanie projektami</div>
        <div class="flex justify-content-end">
            <p-button
                pRipple
                size="large"
                styleClass="border=none"
                icon="pi pi-power-off"
                size="large"
                severity="danger"
                [rounded]="true"
                [text]="true"
                (onClick)="logout()"
            />
        </div>
    </div>
</header>

<aside>
    <p-menu
        *ngIf="authenticatedUser$ | async as authenticatedUser"
        styleClass="h-full"
        [model]="authenticatedUser.role === 'Admin' ? itemsOwner : itemsWorker"
    ></p-menu>
</aside>

<main class="overflow-hidden">
    <router-outlet></router-outlet>
</main>
