<p-dialog [(visible)]="visible" [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
    <ng-template pTemplate="header">
        <h3>Szczegóły Sprintu</h3>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="p-fluid">
            <div class="field">
                <label for="startDate">Data rozpoczęcia: {{ sprint.start_date | date : 'dd/MM/yyyy' }}</label>
            </div>
            <div class="field">
                <label for="endDate">Data zakończenia : {{ sprint.end_date | date : 'dd/MM/yyyy' }}</label>
            </div>

            <div class="field">
                <label for="totalStoryPoints">Liczba wszystkich story pointów: {{ totalStoryPoints }}</label>
            </div>

            <label class="font-bold">Lista użytkowników i ich story pointy:</label>
            <div class="field" *ngFor="let user of usersWithStoryPoints">
                <div class="p-grid grid-nogutter flex mt-3">
                    <div class="col-9">
                        <span class="font-bold">{{ user.fullName }}:</span>
                    </div>
                    <div class="col-3">
                        <span>{{ user.storyPoints }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
