<div *ngIf="authenticatedUser$ | async as authenticatedUser" class="flex flex-column gap-2 overflow-auto h-full">
    <p-card *ngIf="task$ | async as task" header="Szczegóły zadania">
        <div *ngIf="!isEditMode" class="flex justify-content-end gap-2">
            <p-button
                *ngIf="authenticatedUser.role !== 'User'"
                label="Edytuj"
                (click)="toggleEditMode(task)"
            ></p-button>
            <p-button
                *ngIf="authenticatedUser.role !== 'User'"
                label="Usuń"
                styleClass="p-button-danger"
                (click)="deleteTask()"
            >
            </p-button>
        </div>
        <p-fieldset *ngIf="!isEditMode">
            <div class="grid grid-cols-1 gap-3">
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Nazwa:</span>
                    <span>{{ task.name }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Typ zadania:</span>
                    <span>{{ task.task_type }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Priorytet:</span>
                    <span>{{ task.priority }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Status:</span>
                    <span>{{ task.status }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Przypisany użytkownik:</span>
                    <span>{{ task?.assigned_user?.first_name }} {{ task?.assigned_user?.last_name }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Komponent:</span>
                    <span>{{ task.component }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Story pointy:</span>
                    <span>{{ task.story_points }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Data utworzenia:</span>
                    <span>{{ task.created_at | date : 'dd MM yyyy' }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="w-14rem">Utworzony przez:</span>
                    <span>{{ task?.reported_by_user.first_name }} {{ task?.reported_by_user.last_name }}</span>
                </div>
                <div class="col-12 flex align-items-center">
                    <span class="h-full w-14rem">Opis:</span>
                    <span class="w-9">{{ task.description }}</span>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset *ngIf="isEditMode">
            <form [formGroup]="taskForm">
                <div class="grid grid-cols-1">
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Nazwa:</span>
                        <input class="w-25rem" type="text" formControlName="name" pInputText />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Typ zadania:</span>
                        <p-dropdown
                            styleClass="w-25rem"
                            [options]="['Zadanie', 'Błąd', 'Usprawnienie']"
                            formControlName="type"
                            placeholder="Typ zadania"
                        />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Priorytet:</span>
                        <p-dropdown
                            styleClass="w-25rem"
                            [options]="['Niski', 'Średni', 'Wysoki']"
                            formControlName="priority"
                            placeholder="Priorytet"
                        />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Status:</span>
                        <p-dropdown
                            styleClass="w-25rem"
                            [options]="['Do zrobienia', 'W trakcie', 'Do sprawdzenia', 'Zrobione']"
                            formControlName="status"
                            placeholder="Status zadania"
                        />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Przypisany użytkownik:</span>
                        <p-dropdown
                            styleClass="w-25rem"
                            [options]="usersInProject"
                            optionLabel="fullName"
                            optionValue="id"
                            formControlName="assigned_user_id"
                            placeholder="Przypisany do (opcjonalne)"
                        />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Komponent:</span>
                        <p-dropdown
                            styleClass="w-25rem"
                            [options]="['Frontend', 'Backend', 'Baza danych', 'DevOps']"
                            formControlName="component"
                            placeholder="Komponent"
                        />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Story pointy:</span>
                        <p-dropdown
                            styleClass="w-25rem"
                            [options]="[0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]"
                            formControlName="storyPoints"
                            placeholder="Story points"
                        />
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Data utworzenia:</span>
                        <p>{{ task.created_at | date : 'dd MM yyyy' }}</p>
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="w-14rem">Utworzony przez:</span>
                        <p>{{ task.reported_by_user.first_name }} {{ task.reported_by_user.last_name }}</p>
                    </div>
                    <div class="col-12 flex align-items-center">
                        <span class="h-full w-14rem">Opis:</span>
                        <span class="p-float-label w-100">
                            <textarea
                                rows="5"
                                cols="45"
                                formControlName="description"
                                placeholder="Opis zadania"
                            ></textarea>
                        </span>
                    </div>
                </div>
                <div class="flex gap-3">
                    <button type="button" pButton pRipple label="Anuluj" (click)="toggleEditMode(task)"></button>
                    <button
                        type="button"
                        (click)="updateTask()"
                        class="p-button-success"
                        pButton
                        pRipple
                        label="Zapisz"
                    ></button>
                </div>
            </form>
        </p-fieldset>
    </p-card>

    <p-card header="Komentarze">
        <form [formGroup]="commentForm">
            <div class="mb-2">
                <span>
                    <textarea
                        rows="5"
                        formControlName="comment_content"
                        class="w-full"
                        placeholder="Dodaj komentarz..."
                    >
                    </textarea>
                </span>
            </div>
            <div class="flex">
                <button
                    class="w-10rem p-3"
                    type="button"
                    pButton
                    pRipple
                    label="Dodaj komentarz"
                    (click)="addComment()"
                ></button>
            </div>
        </form>
        <div *ngFor="let comment of comments$ | async">
            <div>
                <div class="h-fit flex align-items-center gap-2">
                    <p class="text-2xl m-0 font-bold">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
                    <p>{{ comment.timestamp | date : 'hh:mm dd MM yyyy' }}</p>
                </div>
                <p>{{ comment.comment_content }}</p>
                <p-button
                    *ngIf="comment.user.id === userId"
                    label="Usuń"
                    styleClass="pl-0 disable-flex"
                    [link]="true"
                    (click)="removeComment(comment.id)"
                />
            </div>
        </div>
    </p-card>
</div>
